@page "/searchPets"
@using FindPets.Shared;
@using FindPets.Shared.Pets;

@inject IPetService PetServiceClient;

<PageTitle>Localizar Pet</PageTitle>

<div class="container mt-5">
    <h1>Animais Anunciados</h1>
</div>

@code {
    private List<Pet> Pets { get; set; } = new List<Pet>();

    protected override async Task OnInitializedAsync()
    {
        var petsResult = await PetServiceClient.GetAllPets();

        Pets = petsResult.ToList();
    }
}