@page "/detailsPet/{UrlRequest}"

<PageTitle>Detalhes do Anúncio</PageTitle>

<div class="container mt-5">
    <h1>Detalhes Anuncio</h1>
</div>

@code {
    [Parameter]
    public string UrlRequest { get; set; }
}